<aside id="sidebar">
  <br>
  <%= yield :nav_bar %>

  <div class="btn-group">
    <button class="btn btn-default" type="button"></button>
    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button"></button>
    <ul class="dropdown-menu" role="menu">
      <%= render 'layouts/dashboard_navigation_links' %>
    </ul>
  </div>
</aside>

