<% controller = params[:controller] %>
<% action = params[:action] %>
<li>
  <%=link_to({:controller => controller,:action => action,:filter_type => :weeks}) do %>
      <i class="fa fa-user"></i><span class="text">Filter by Weeks</span>
  <% end %>
</li>
<li>
  <%=link_to({:controller => controller,:action => action,:filter_type => :months}) do %>
      <i class="fa fa-user"></i><span class="text">Filter by Months</span>
  <% end %>
</li>
<li>
  <%=link_to({:controller => controller,:action => action,:filter_type => :years}) do %>
      <i class="fa fa-user"></i><span class="text">Filter by Years</span>
  <% end %>
</li>