<%# add navigation links to this file %>
<li role="presentation" class="dropdown-header">Date Range</li>
<% controller = params[:controller] %>
<% action = params[:action] %>
<li>
  <%=link_to({:controller => controller,:action => action,:date_range => :today}) do %>
      <i class="fa fa-user"></i><span class="text">Today</span>
  <% end %>
</li>
<li>
  <%=link_to({:controller => controller,:action => action,:date_range => :yesterday}) do %>
      <i class="fa fa-user"></i><span class="text">Yesterday</span>
  <% end %>
</li>
<li>
  <%=link_to({:controller => controller,:action => action,:date_range => :last_week}) do %>
      <i class="fa fa-user"></i><span class="text">Last Week</span>
  <% end %>
</li>
<li>
  <%=link_to({:controller => controller,:action => action,:date_range => :last_month}) do %>
      <i class="fa fa-user"></i><span class="text">Last Month</span>
  <% end %>
</li>
<li><a href="#"><i class="fa fa-user"></i><span class="text">Year to Date</span></a></li>
<li data-toggle="modal" data-target="#myModal"><a href="#"><i class="fa fa-user"></i><span class="text">Custom Range</span></a></li>

<li role="presentation" class="divider"></li>
<li role="presentation" class="dropdown-header">Previous Period</li>
<li><a href="#"><i class="fa fa-user"></i><span class="text">Previous Year</span></a></li>
<li><a href="#"><i class="fa fa-user"></i><span class="text">Custom Range</span></a></li>
